<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles_footer.css">
    <!-- <link rel="stylesheet" href="../css/styles_introduction_booking.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link rel="stylesheet" href=".../script/script_introduction.js"> -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Document</title>
</head>
<body>
    
</body>
<div class="footer">
    <div class="footer-container">
        <div class="footer-information">
            <div class="footer-logo">
                <div class="footer-logo-background"></div>
            </div>
            <div class="footer-contact">
                <a class="footer-first" href="mailto:nhahangmientay@gmail.com">
                    <i class="fa-solid fa-envelope"></i><span> nhahangmientay@gmail.com</span>
                </a>

                <a class="footer-first" href="tel:+84987654321">
                    <i class="fa-solid fa-phone"></i><span> +85987654321</span>
                </a>
            </div>
            <div class="footer-first footer-social">
                <a target="_blank" class="footer-social-icon" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a target="_blank" class="footer-social-icon" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" class="footer-social-icon" href="https://www.tiktok.com/"> <i class="fa-brands fa-tiktok"></i></a>
                <a target="_blank" class="footer-social-icon" href="https://www.youtube.com/"> <i class="fa-brands fa-youtube"></i></a>
                
            </div>
        </div>
        <div class="footer-second">
            <div class="footer-open-time">
                <div style="padding-top: 5px; padding-bottom: 5px;" class="footer-heading"><i class="fa-solid fa-clock"></i><b style="margin-left:10px;">GIỜ MỞ CỬA</b></div>
                <div style="padding-top: 5px; padding-bottom: 5px;" class="footer-detail"><b>Thứ hai - Thứ sáu: </b>10:00 - 22:00</div>
                <div style="padding-top: 5px; padding-bottom: 5px;" class="footer-detail"><b>Thứ bảy - Chủ nhật: </b>9:00 - 24:00</div>
            </div>

            <div class="footer-branch">
                <div class="footer-heading"><i class="fa-solid fa-store"></i><b style="margin-left:10px;">CHI NHÁNH</b></div>
                <div href="" class="footer-detail address">
                    227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh.
                </div>
                <div href="" class="footer-detail address">
                    268 Lý Thường Kiệt, Phường 14, Quận 10, TP.HCM.
                </div>
                <div href="" class="footer-detail address">
                    123 Khu phố 6, phường Linh Trung, quận Thủ Đức, TP.HCM.
                </div>
                <div href="" class="footer-detail address">
                    36 Tôn Thất Đạm, Quận 1, Thành phố Hồ Chí Minh.
                </div>
            </div>
        </div>
        <div class="footer-branch">
        </div>
        <div class="footer-map">
            <iframe class="mapFrame" id="mapFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.605722606959!2d106.68807717405312!3d10.764839189383233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1705d406cb%3A0x4af0baeeb11ef0a!2zMTAyQyDEkC4gQ-G7kW5nIFF14buzbmgsIFBoxrDhu51uZyBQaOG6oW0gTmfFqSBMw6NvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1735033461446!5m2!1sen!2s"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="footer-end">
        <div class="footer-copy-right">© 2024 Bản quyền thuộc Nhà Hàng Miền Tây</div>
    </div>
</div>

</body>
