
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giới thiệu - Nhà hàng Miền Tây</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles_introduction_booking.css">
    <link rel="stylesheet" href="../css/styles_header.css">
    <link rel="stylesheet" href="../css/styles_footer.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="Introduction/LOGO.png" type="image/jpg" />
    <script src="script_introduction.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Document</title>
</head>

<nav class="menu-bar">
    <label for="menu-bar-checkbox" class="menu-bar-button">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input hidden type="checkbox" class="menu-bar-checkbox" id="menu-bar-checkbox">
    <label for="menu-bar-checkbox" class="menu-bar-overlay" id="menu-bar-overlay"></label>
    <div class="menu-bar-scrollbar">
        <label for="menu-bar-checkbox"  class="menu-bar-close">
            <i class="fa-solid fa-xmark"></i>
        </label>

        <div class="menu-bar-logo">
            <img src="/public/images/Introduction/LOGO.jpg" alt="">
        </div>
        
        <div class="menu-bar-title">
            <h1>Nhà hàng Miền Tây</h1>
        </div>


        <div class="menu-bar-option">
            <div class="menu-bar-choice">
                <a id="heading-option-introduction" target="_blank" href="Introduction.html#heading-option-introduction">GIỚI THIỆU</a>            
            </div>   
            <div class="menu-bar-choice">
                <a  target="_blank" href="menu.html">THỰC ĐƠN</a>
            </div>   
            <div class="menu-bar-choice">
                <a target="_blank" href="booking_table.html#booking-page">ĐẶT TIỆC</a>
            </div>   
            <div class="menu-bar-choice">
                <a  a target="_blank" href="order.html#menu-choosing">GỌI MÓN</a>
            </div>   
            <div class="menu-bar-choice">
                <a  target="_blank" href="Review.html">ĐÁNH GIÁ</a>
            </div> 
        </div>

        



    </div>
</nav>
<!-- <nav class="heading">
    <div class='heading-container'>
        <div class="heading-option-container">
            <div class="heading-option">
                <a  id="heading-option-introduction" target="_blank" href="Introduction.html#heading-option-introduction">Giới thiệu</a>
                <ul class="heading-option-sub-menu">
                    <li><a target="_blank" class='sub-option' href="Introduction.html#body-chef-introduction">Đầu bếp</a></li>
                    <li><a target="_blank" class='sub-option' href="Introduction.html#introduction">Về chúng tôi</a></li>
                    <li><a target="_blank" class='sub-option' href="Introduction.html#rating-container">Khách hàng</a></li>
                </ul>
            </div>
            <div class="heading-option">
                <a target="_blank" href="#hero">Thực đơn</a>
                <ul style="width: 30vw;" class="heading-option-sub-menu">
                    <li><a target="_blank" href="menu.html#special-first" class="sub-option">Bún mắm</a></li>
                    <li><a target="_blank" href="menu.html#special-second" class="sub-option">Cá Tai Tượng Chiên Xù</a></li>
                    <li><a target="_blank" href="menu.html#special-third" class="sub-option">Lẩu Cá Kèo</a></li>
                    <li><a target="_blank" href="menu.html#special-fourth" class="sub-option">Cá Lóc Nướng Trui</a></li>
                    <li><a target="_blank" href="menu.html#special-fifth" class="sub-option">Bún Nước Lèo</a></li>
                </ul>
            </div>
            <div class="heading-option"><a a target="_blank" href="order.html#menu-choosing">Gọi món</a></div>
            <div class="heading-option">
                <a target="_blank" href="booking_table.html#booking-page">Đặt tiệc</a>
                <ul class="heading-option-sub-menu">
                    <li><a href="privatedate.html" class="sub-option">Private date</a></li>
                    <li><a href="Gathering.html" class="sub-option">Họp mặt<tbody></tbody></a></li>        
                </div>
                </ul>
            <div class="heading-option"><a target="_blank" href="Review.html">Đánh giá</a></div>  
        </div>

        <div class = 'heading-logo'>
            <a href="">
            </a>
        </div>
    <div>        
</nav>
<script>
    var links = document.getElementsByTagName('a');
    for (var i = 0; i < links.length; ++i) {
        links[i].setAttribute('target', '_blank');
    }
</script> -->